body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    float:left;
    width:auto;
    height:500px;
    background:#fff;
    border: solid 1px #a2a2a2;
}
table{
    border: 0;
}
#baloesInteiros{
    font-size: 40px;
}
#baloesEstourados{
    font-size: 40px;
}
#cronometro{
    color:purple;
    font-size: 30px;
}
#cronometroImg{
    background: url('../imagens/cronometro.png');
    text-align: center;
}

.container {
    width: 140px; 
    height: 132px;
}

#cenario{
    float:left;
    width: 600px;
    height: 500px;
    background:url('../imagens/cenario.png');
    background-position: bottom;
}